<!DOCTYPE html>
<html lang="PT/BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Contacts List</title>
</head>
<body>

<form action="" >

    <div class="mb-3">
        <label for="nameInput" class="form-label">Nome do Usuário</label>
        <input type="text" class="form-control" id="nameInput" placeholder="Nome Completo">
    </div>

    <div class="mb-3">
        <label for="ageInput" class="form-label">Idade</label>
        <input type="number" class="form-control" id="ageInput" placeholder="Idade ">
    </div>

    <div class="mb-3">
        <label for="foneInput" class="form-label">Telefone do Usuário</label>
        <input type="text" class="form-control" id="foneInput" placeholder="(DDD) 9XXXX-XXXX ">
    </div>

</form>
<button class="btn btn-primary"  onclick="salvarUser()">Button</button>

<!--<table class="table">-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <th scope="col">Id</th>-->
<!--            <th scope="col">Nome</th>-->
<!--            <th scope="col">Telefone</th>-->

<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr data-th-each="usuario : ${userList}">-->
<!--        <td data-th-text="${usuario.id}"></td>-->
<!--        <td data-th-text="${usuario.name}"></td>-->
<!--        <td data-th-text="${usuario.telefone}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script type="text/javascript">
    function salvarUser(){
        let nome = $("#nameInput").val();
        let age = $("#ageInput").val();
        let fone = $("#foneInput").val();

        alert(nome+ "\n" + age + "\n" + fone);
    }
</script>
</body>
</html>